<h2>LISTADO DE USUARIOS</h2>
<br>
<button
	type="button"
	class="btn btn-primary mb-3"
	data-bs-toggle="modal"
	data-bs-target="#modalCreateClient">
	Crear Usuario <i class="bi bi-plus-circle"></i>
</button>

<!-- Modal -->
<div
	class="modal fade"
	id="modalCreateClient"
	tabindex="-1"
	aria-labelledby="modalClient"
	aria-hidden="true">
	<form [formGroup]="form" (submit)="registerAttendance()">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h1 class="modal-title fs-5 text-light" id="modalClient">REGISTRO DE USUARIO</h1>
					<button
						type="button"
						class="btn-close icon"
						data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="input-group my-4">
						<span class="input-group-text" id="basic-addon1">
							<i class="bi bi-person-badge"></i>
						</span>
						<input
							type="text"
							class="form-control"
							placeholder="Nombres"
							formControlName="nombres"
							aria-label="Nombres" />
					</div>
					<div class="input-group my-4">
						<span class="input-group-text" id="basic-addon1">
							<i class="bi bi-person-badge"></i>
						</span>
						<input
							type="text"
							class="form-control"
							placeholder="Apellidos"
							formControlName="apellidos"
							aria-label="Apellidos" />
					</div>
					<div class="input-group my-4">
						<span class="input-group-text" id="basic-addon1">
							<i class="bi bi-person-badge"></i>
						</span>
						<select class="form-select" aria-label="Default select example"  formControlName="TipoDocIdentidad">
							<option value='' disabled selected>Seleccione su tipo de documento</option>
							<option value="dni">DNI</option>
							<option value="carnet extranjeria">Carnet de extranjeria</option>
						</select>
					</div>
					<div class="input-group my-4">
						<span class="input-group-text" id="basic-addon1">
							<i class="bi bi-person-badge"></i>
						</span>
						<input
							type="text"
							class="form-control"
							placeholder="Num documento del personal"
							formControlName="dni"
							aria-label="Num documento del personal" />
					</div>
					<div class="input-group my-4">
						<span class="input-group-text" id="basic-addon1">
							<i class="bi bi-key"></i>
						</span>
						<input
							[type]="passwordVisible ? 'text' : 'password'"
							class="form-control"
							placeholder="Ingrese su contraseña"
							formControlName="password"
							aria-label="Ingrese su contraseña" />
						<button
							type="button"
							class="btn btn-outline-secondary"
							(click)="passwordVisible = !passwordVisible">
							<i
								[class]="
									passwordVisible ? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'
								"></i>
						</button>
					</div>
					<div class="input-group my-4">
						<span class="input-group-text" id="basic-addon1">
							<i class="bi bi-person-badge"></i>
						</span>
						<select class="form-select" aria-label="Default select example" formControlName="TipoCargo">
							<option value='' disabled selected>Seleccione su cargo en la empresa</option>
							<option value="vendedor">vendedor</option>
							<option value="Administrador de Ventas">Administrador de Ventas</option>
							<option value="Caja">Caja</option>
							<option value="Almacenero">Almacenero</option>
						</select>
					</div>
					<div class="input-group my-4">
						<span class="input-group-text" id="basic-addon1">
							<i class="bi bi-person-badge"></i>
						</span>
						<select class="form-select" aria-label="Default select example" formControlName="turno">
							<option value='' disabled selected>Seleccione su turno de trabajo</option>
							<option [ngValue]="1">Mañana 9:00 am a 6:00 pm</option>
							<option [ngValue]="2">Tarde 5:00 pm a 9:00 pm</option>
						</select>
					</div>
					<div class="input-group my-4">
						<span class="input-group-text" id="basic-addon1">
							<i class="bi bi-person-badge"></i>
						</span>
						<select class="form-select" aria-label="Default select example" formControlName="TipoUsuario">
							<option value='' disabled selected>Seleccione su tipo de usuario</option>
							<option value="Usuario">Usuario</option>
							<option value="Administrador">Administrador</option>
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
						Close
					</button>
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
			</div>
		</div>
	</form>
</div>
<table
	datatable
	[dtOptions]="dtOptions"
	class="table table-bordered border rounded rounded-4 row-border table-hover">
	<tfoot>
		<tr>
			<th></th>
			<th>
				<input class="form-control" type="text" placeholder="nombres" />
			</th>
			<th>
				<input class="form-control" type="text" placeholder="Apellidos" />
			</th>
			<th>
				<input class="form-control" type="text" placeholder="tipo documento" />
			</th>
			<th>
				<input class="form-control" type="text" placeholder="tipo cargo" />
			</th>
			<th>
				<input class="form-control" type="text" placeholder="tipo usuario" />
			</th>
			<th>
				<input class="form-control" type="text" placeholder="turno" />
			</th>
		</tr>
	</tfoot>
</table>
