<!-- Producto en bucle foreach -->
<div class="row overflow-auto d-block" style="height: 40rem">
	<div *ngFor="let product of listSales; let i = index">
		<div class="col-12 bg-light p-3 rounded-3 mb-3 border-3">
			<div class="row align-items-center mb-2">
				<!-- Título del Producto y Botón de Eliminar -->
				<div class="col">
					<span>{{ product.name }}</span>
				</div>
				<div class="col-auto">
					<button
						class="btn btn-link text-danger p-0"
						type="button"
						aria-label="Remove"
						(click)="onClickRemove(i)">
						<i class="bi bi-trash fs-5"></i>
					</button>
				</div>
			</div>
			<div class="row align-items-center">
				<!-- Controles de Cantidad y Precio -->
				<div class="col-auto">
					<div class="input-group">
						<button
							class="btn btn-outline-secondary"
							type="button"
							aria-label="Decrease quantity"
							(click)="onClickDecrease(i)">
							<i class="bi bi-dash-circle-fill"></i>
						</button>
						<input
							type="number"
							class="form-control text-center"
							[ngModel]="product.cant" />
						<button
							class="btn btn-outline-secondary"
							type="button"
							aria-label="Increase quantity"
							(click)="onClickIncrease(i)">
							<i class="bi bi-plus-circle-fill"></i>
						</button>
					</div>
				</div>
				<div class="col-auto"><b>Precio:</b> ${{ product.priceTotal }}</div>
			</div>
		</div>
	</div>
</div>
<div class="row bg-secondary">Total: S/. {{ priceTotalBuy | number: '1.2-2' }}</div>
