<div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
	<ul
		class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 px-3 align-items-center">
		<li>
			<a
				href="#"
				class="nav-link py-3 px-2"
				title=""
				data-bs-toggle="tooltip"
				data-bs-placement="right"
				data-bs-original-title="Customers">
				<i class="bi bi-alarm fs-1"></i>
			</a>
		</li>
		<li>
			<a
				href=""
				class="nav-link py-3 px-2"
				title=""
				data-bs-toggle="tooltip"
				data-bs-placement="right"
				data-bs-original-title="Orders">
				<i class="bi bi-file-earmark-person-fill fs-1" (click)="openModal()"></i>
			</a>
		</li>
		<li>
			<a
				href="#"
				class="nav-link py-3 px-2"
				title=""
				data-bs-toggle="tooltip"
				data-bs-placement="right"
				data-bs-original-title="Products">
				<i class="bi bi-calendar-week fs-1"></i>
			</a>
		</li>
	</ul>
</div>

<div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="modalLabel">Título del Modal</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  Contenido de tu modal...
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
		  <button type="button" class="btn btn-primary">Guardar cambios</button>
		</div>
	  </div>
	</div>
</div>
