<div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
	<ul
		class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 px-3 align-items-center">
		<li>
			<a
				href="#"
				class="nav-link py-3 px-2"
				title=""
				data-bs-toggle="tooltip"
				data-bs-placement="right"
				data-bs-original-title="Customers">
				<i class="bi bi-alarm fs-1"></i>
			</a>
		</li>
		<li>
			<a
				href="#"
				class="nav-link py-3 px-2"
				title=""
				data-bs-toggle="tooltip"
				data-bs-placement="right"
				data-bs-original-title="Orders">
				<i class="bi bi-file-earmark-person-fill fs-1"></i>
			</a>
		</li>
		<li>
			<a
				href="#"
				class="nav-link py-3 px-2"
				title=""
				data-bs-toggle="tooltip"
				data-bs-placement="right"
				data-bs-original-title="Products">
				<i class="bi bi-calendar-week fs-1"></i>
			</a>
		</li>
	</ul>
</div>
