<h2>LISTADO DE ASISTENCIA</h2>
<br>
<table
	datatable
	[dtOptions]="dtOptions"
	class="table table-bordered border rounded rounded-4 row-border table-hover bg-primary">
	<tfoot>
		<tr>
			<th></th>
			<th>
				<input class="form-control" type="text" placeholder="Cargo" />
			</th>
			<th>
				<input class="form-control" type="text" placeholder="Nombres" />
			</th>
			<th>
				<input class="form-control" type="text" placeholder="Apellidos" />
			</th>
			<th>
				<input class="form-control" type="text" placeholder="DNI">
			</th>
			<th>
				<input class="form-control" type="text" placeholder="Hora de Registro" />
			</th>
			<th>
				<input class="form-control" type="text" placeholder="Fecha" />
			</th>
			<th>
				<input class="form-control" type="text" placeholder="Estado" />
			</th>
		</tr>
	</tfoot>
</table>